/* Our own custom styles */
/* ------------ Main Navigation ----------- */
.company-name{
    font-family: 'Monoton', cursive;
}
.information-section{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.main-nav{
    height: 40px;
}
ul{
    list-style: none;
}
.main-nav .navbar-item-my ul li a{
    color: white;
    display: inline-block !important;
    font-size: 18px;
}
.navbar-item-my ul li a:hover {
    background-color: #778264;
    border-bottom: 2px solid orange;
}
.home:hover{
    color:#721c24 ;
}


.shit{
   border-radius:15px;
}
.founder-imgage{
    margin-top: -60px;
width: 50%;
}
.founder-details{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
.box-section{
   background-color: #B1BACE;
    height: 340px;
}
input[type="text"]{
background-color: white;
    width: 90%;
    border-radius: 5px;
    margin-left: 15px;
}
.message-box{
    background-color: white;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    margin-left: 15px;
}
.send-button{
    width: 90%;
    border-radius: 5px;
    margin-left: 15px;
}
.message-limit{
    float: right;
    margin-right: 10px;
}
.address{
    background-color: #f7f7f7;
}
.blockquote{
    float: right;
    font-family: 'Playfair Display', serif;
}
.more-section,.releted-section{
    font-family: 'Mukta Mahee', sans-serif;
}
.footer-section{
    background-color:#041e29;
    border-radius: 3px;
}
.about{
    font-family: 'Patua One', cursive;
}